/* Default accross all views */

@import "./container.css";
@import "./material.css";
@import "./nav.css";
@import "./parallax.css";
@import "./palette.css";
@import "./table.css";


@font-face {
    font-family: oswaldl;
    src: url('/fonts/Oswald-ExtraLight.ttf');
}


body {
    margin: 0px;
    font-family: sans-serif;
}

a {
    text-decoration: none;
}

p {

}

figcaption {
    font-family: "Elephant";
    text-align: center;
    font-size: 11px;
    text-decoration-color: lightgrey;
    font-weight: lighter;
}

input[type=text] {
    font-family: Roboto;
    font-size: 80%;
    border: 0px;
        outline: none;
        height: 20px;
        background-color: transparent;
        border-bottom: 2px solid #e1262a;

}




.center-items {
    display: flex;
    align-items: center;
}

.column {
    display: flex;
    flex-direction: column;
}

.row {
    display: flex;
    flex-direction: row;
}

.center-text {
    text-align: center;
}

.restaurantspage {
    flex-direction: column;
    margin: 0 auto;
    background: white;
}



.white-background {
    background: white;
}






.restaurantimage {
    display: flex;
    justify-content: center;
    width: 65%;
    margin: auto;
}





.home-content {
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    align-items: center;
    background: white;
}

.home-picture {
    margin: 20px;
}

.txt-center {
    text-align: center;
}

.hide {
    display: none;
}

.clear {
    float: none;
    clear: both;
}

.hidden {
    display: none;
}












.parallax-transportations {
    background-image: url("../img/transportation_theme.jpg");
}

.parallax-home button {
    height: 100px;
    width: 100px;
    font-size: 70px;
    margin-bottom: 30px;
    color: #ffffff;
    text-align: center;
    outline: none;

    background-color: transparent;
    border-width: 0px;
    border-radius: 100%;
    border-color: red;
    transition: all 0.5s;
}

.parallax-home button:hover {
    border-width: 100%;
    font-size: 70px;
    color: #ffffff;
    background-color: #ff0000;
    border-color: transparent;
}









/* Desktop styling */

@media only screen and (min-width: 800px) {

}











/* Tablet styling */

@media only screen and (max-width: 800px) {

}











/* Phone styling */

@media only screen and (max-width: 400px) {

}