/* Default accross all views */

@import "./container.css";
@import "./material.css";
@import "./nav.css";
@import "./parallax.css";
@import "./palette.css";
@import "./table.css";
@import "./widget.css";


@font-face {
    font-family: oswaldl;
    src: url('/fonts/Oswald-ExtraLight.ttf');
}


body {
    margin: 0px;
    font-family: sans-serif;
}

a:link,
a:visited {
    text-decoration: none;
}


p {}

figcaption {
    font-family: "Elephant";
    text-align: center;
    font-size: 11px;
    text-decoration-color: lightgrey;
    font-weight: lighter;
}






.center-items {
    display: flex;
    align-items: center;
}

.column {
    display: flex;
    flex-direction: column;
}

.row {
    display: flex;
    flex-direction: row;
}

.center-text {
    text-align: center;
}

.left-text {
    text-align: left;
}

.restaurantspage {
    flex-direction: column;
    margin: 0 auto;
    background: white;
}



.white-background {
    background: white;
}






.restaurantimage {
    display: flex;
    justify-content: center;
    width: 65%;
    margin: auto;
}





.home-content {
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    align-items: center;
    background: white;
}

.home-picture {
    margin: 20px;
}

.txt-center {
    text-align: center;
}

.hide {
    display: none;
}

.clear {
    float: none;
    clear: both;
}

.hidden {
    display: none;
}





form {
    height: 100%;
    width: 100%;
    display: flex;
    align-content: space-around;
    align-items: center;
    flex-direction: column;
        font-size: 20px;

}

form.h1 {
    font-family: Roboto;
    font-weight: lighter;
}






.bkg-index {
    padding-top: 100px;
    padding-bottom: 100px;
    background-image: url("../img/theme-index.jpg");
}

.bkg-milky-way {
    color: white;
    background: linear-gradient(-45deg, #EE7752, #f54b60, #9357a0, #5663ab, #23A6D5, #23D5AB);
    background-size: 400% 400%;
    -webkit-animation: milky-way 60s steps(150) infinite;
    -moz-animation: milky-way 60s steps(150) infinite;
    animation: milky-way 60s steps(150) infinite;
    
    box-shadow: 0px 20px 20px -20px #00000099 inset;
}

@-webkit-keyframes milky-way {
    0% {
        background-position: 0% 50%
    }
    50% {
        background-position: 100% 50%
    }
    100% {
        background-position: 0% 50%
    }
}

@-moz-keyframes milky-way {
    0% {
        background-position: 0% 50%
    }
    50% {
        background-position: 100% 50%
    }
    100% {
        background-position: 0% 50%
    }
}

@keyframes milky-way {
    0% {
        background-position: 0% 50%
    }
    50% {
        background-position: 100% 50%
    }
    100% {
        background-position: 0% 50%
    }
}

.parallax-home button {
    height: 100px;
    width: 100px;
    font-size: 70px;
    margin-bottom: 30px;
    color: #ffffff;
    text-align: center;
    outline: none;

    background-color: transparent;
    border-width: 0px;
    border-radius: 100%;
    border-color: red;
    transition: all 0.5s;
}

.parallax-home button:hover {
    border-width: 100%;
    font-size: 70px;
    color: #ffffff;
    background-color: #ff0000;
    border-color: transparent;
}










/* Desktop styling */

@media only screen and (min-width: 800px) {
    .bkg-index {
    padding-top: 100px;
    padding-bottom: 70px;
}
}












/* Tablet styling */

@media only screen and (max-width: 800px) {
    .bkg-index {
    padding-top: 50px;
    padding-bottom: 70px;
}
}












/* Phone styling */

@media only screen and (max-width: 400px) {
    .bkg-index {
    padding-top: 50px;
    padding-bottom: 50px;
}
}