@import url('https://fonts.googleapis.com/css?family=Roboto:300');

@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: local('Material Icons'), local('MaterialIcons-Regular'), url(material_icon.ttf) format('truetype');
}

/*Material Icon*/

.material-icon {
    text-decoration: none;
    font-family: "Material Icons";
}



/*Material Design Styled Ripple Animation - Han Zheng*/

.ripple {
    position: relative;
    overflow: hidden;
    transform: translate3d(0, 0, 0);
}

.ripple:after {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    content: "";
    display: block;
    position: absolute;
    pointer-events: none;
    background-image: radial-gradient(circle, #000 10%, transparent 5%);
    background-repeat: no-repeat;
    background-position: 50%;
    transform: scale(10, 10);
    opacity: 0;
    transition: transform 0.5s, opacity 0.8s;
}

.ripple:active:after {
    opacity: 0.1;
    transform: scale(0, 0);
    transition: 0s;
}