.nav {
    padding: 0px 50px 0px 50px;
    margin: 0px 0px 0px 0px;
    height: 60px;
    /*width: 100%;*/
    /*position: fixed;*/
    top: 0;
    background-color: #ffffffee;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    display: flex;
    justify-content: space-between;

    /*No Select*/
    -webkit-touch-callout: none;
    /* iOS Safari */
    -webkit-user-select: none;
    /* Safari */
    -khtml-user-select: none;
    /* Konqueror HTML */
    -moz-user-select: none;
    /* Firefox */
    -ms-user-select: none;
    /* Internet Explorer/Edge */
    user-select: none;
    /* Non-prefixed version, currently supported by Chrome and Opera */
}

.nav .menu {
    display: flex;
    align-self: flex-end;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    margin: 0px, 60px, 0px, 60px;
    padding: 0px;
    height: 100%
}

.nav .menu a {
    color: #aeaeae;
    font-size: 18px;
    margin: 0px;
    padding: 0px;
    text-align: center;
    text-decoration: none;
    color: #333333
}

.nav .menu a:hover {
    color: #ffa90f;
}

.nav .logo {
    display: flex;
    align-self: flex-start;
    align-items: center;
    justify-content: center;
    margin: 0px, 60px, 0px, 60px;
    padding: 0px, 0px, 0px, 0px;
    height: 100%;
    width:300px;
}

.nav .logo a {
    white-space: nowrap;
    text-align: center;
    /*float: left;*/
    font-weight: bold;
    font-size: 20px;
    background-image: -webkit-linear-gradient(180deg, #ffa90f 50%, #333333 50%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.nav .logo a:hover {
    background-image: -webkit-linear-gradient(180deg, #333333 50%, #ffa90f 50%);
}

.nav ul {
    list-style-type: none;
    height: 100%;
    padding: 0px;
    margin: 0px;
}

.nav .menu-btn {
    align-self: flex-end;
    align-items: center;
    font-size: 30px;
    cursor: pointer;
}

.nav li {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 20px;
    height: 100%;
    padding: 0px;
    border-bottom: 2px solid transparent;
    transition: border-bottom 0.5s;
}

.nav li:hover {
    border-bottom: 4px solid #ffa90f;
}

.mobile-menu {
    flex-direction: column;
    align-content: space-around;
    align-items: center;
    height: 400px;
}

.mobile-menu li{
    text-decoration: none;
    color: black;
    margin-top: 50px;
}

.mobile-menu li{
    font-family: Roboto;
    font-size: 25px;
}


.footer{
    display: flex;
    background:#ffa90f;
    height: 100px;
    color: white;
    border-top: 3px #c1414b solid;
    box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.75)
}






/* Desktop styling */

@media only screen and (min-width: 800px) {
    .nav .menu-btn {
        display: none;
    }

    .nav .menu {
        align-self: flex-end;
    }
    .nav {
        flex-direction: row;
    }

    .mobile-menu {
        /*visibility: hidden !important;*/
        display: none !important;
    }
}






/* Tablet styling */

@media only screen and (max-width: 800px) {
    .nav .menu-btn {
        display: flex;
    }
    .nav .menu {
        display: none;
    }
    .nav {
        flex-direction: row-reverse;
    }
}






/* Phone styling */

@media only screen and (max-width: 400px) {
    .nav .menu-btn {
        display: flex;
    }
    .nav .menu {
        display: none;
    }
    .nav {
        flex-direction: row-reverse;
    }
}