:root {
  --black: #000000;
  --white: #ffffff;
  --blue-grey: #aaaacc;
  --blue-black: #6e7a8e;

}


.white {
	color: #ffffff;
}

.red {
	color: #e1262a;
}

.blue-grey {
	color: #aaaacc;
}

/*.blue-black {
	color: #686c74;
}*/

.blue-black {
	color: #6e7a8e;
}