.parallax-section {
    height: 400px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;

    position: relative;
    opacity: 0.93;
    background-color: grey;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 0;
    box-shadow: 0px 20px 20px -20px #00000099 inset;
    /*box-shadow: 0px 10px 30px 0px #00000099 inset;*/
}

.parallax-section h1 {
    color: white;
    font-family: 'Roboto';
    font-weight: lighter;
    text-shadow: 0px 0px 10px #000000;
}

.parallax-section p {
    color: white;
    font-family: 'Roboto';
    font-weight: lighter;
    font-size: 20px;
    text-shadow: 0px 0px 20px #000000;
    width: 70%;
}




/* Desktop styling */

@media only screen and (min-width: 800px) {

    .parallax-section h1 {
        font-size: 55px;
    }
}




/* Tablet styling */

@media only screen and (max-width: 800px) {

    .parallax-section h1 {
        font-size: 35px;
    }
}




/* Phone styling */

@media only screen and (max-width: 400px) {
    .parallax-section h1 {
        font-size: 26px;
    }
}