input[type=text] {
    color: white;
    font-family: Roboto;
    font-size: 15px;
    outline: none;
    height: 30px;
    background-color: #ffffff33;
    border-width: 0px;
    border-radius: 40px;
    padding: 5px 20px 5px 20px;
}

input[type=text]::placeholder {
    color: #ffffff88;
}


input[type=number] {
    color: white;
    font-family: Roboto;
    font-size: 15px;
    outline: none;
    height: 40px;
    background-color: #ffffff33;
    border-width: 0px;
    border-radius: 30px;
    padding: 0px 20px 0px 20px;
}

input[type=number]::placeholder {
    color: #ffffff88;
}


button {
	font-family: Roboto;
    font-size: 15px;
    outline: none;
    height: 40px;
    border-width: 0px;
    border-radius: 40px;
    padding: 5px 20px 5px 20px;
}

.glass-button {
    color: #ffffff;
    background-color: #ffffff00;
    transition: background-color 0.5s;
}

.glass-button:hover {
    color: #000000;
    mix-blend-mode: lighten;
	background-color: #ffffffff;
}

.glass-button-highlight {
    color: #ffffff;
    mix-blend-mode: lighten;
    overflow: hidden;
    background-color: #ffffff00;
    border-width: 2px;
    border-style: solid;
    border-color: #ffffff;
    transition: background-color 0.5s;

}

.glass-button-highlight:hover {
	color: #000000;
	background-color: #ffffffff;
}

.blue-button {
	font-size: 20px;
	color: #019dde;
	height: 150px;
	width: 150px;
	border-radius: 100px;
	border-width: 10px;
	border-color: #019dde;
	border-style: solid;
	background-color: #ffffff;
	transition: background-color 0.5s;
	transition: color 0.5s;
	transition: border-width 0.5s;


}

.blue-button:hover {
	color: white;
	border-width: 0px;
	border-color: white;
	background-color: #019dde;
}













