input[type=text] {
    color: white;
    font-family: Roboto;
    font-size: 15px;
    outline: none;
    height: 30px;
    background-color: #ffffff33;
    border-width: 0px;
    border-radius: 40px;
    padding: 5px 20px 5px 20px;
}

input[type=text]::placeholder {
    color: #ffffff88;
}


input[type=number] {
    color: white;
    font-family: Roboto;
    font-size: 15px;
    outline: none;
    height: 40px;
    background-color: #ffffff33;
    border-width: 0px;
    border-radius: 30px;
    padding: 0px 20px 0px 20px;
}

input[type=number]::placeholder {
    color: #ffffff88;
}

.search-bar {
    background-color: rgba(255, 255, 255, 0.4);
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(10px);

}

.avatar {
	border-radius: 50%;
}

button {
    font-family: Roboto;
    font-size: 15px;
    outline: none;
    height: 40px;
    border-width: 0px;
    border-radius: 40px;
    padding: 5px 20px 5px 20px;
}

.glass-button {
    color: #ffffff;
    background-color: #ffffff00;
    transition: background-color 0.5s;
}

.glass-button:hover {
    color: #000000;
    mix-blend-mode: lighten;
    background-color: #ffffffff;
}

.glass-button-highlight {
    color: #ffffff;
    mix-blend-mode: lighten;
    overflow: hidden;
    background-color: #ffffff00;
    border-width: 2px;
    border-style: solid;
    border-color: #ffffff;
    transition: background-color 0.5s;
}

.glass-button-highlight:hover {
    color: #000000;
    background-color: #ffffffff;
}

.blue-button {
    font-size: 20px;
    color: #019dde;
    height: 150px;
    width: 150px;
    border-radius: 100px;
    border-width: 10px;
    border-color: #019dde;
    border-style: solid;
    background-color: #ffffff;
    transition: background-color 0.5s;
    transition: color 0.5s;
    transition: border-width 0.5s;
}

.blue-button:hover {
    color: white;
    border-width: 0px;
    border-color: white;
    background-color: #019dde;
}






/* Desktop styling */

@media only screen and (min-width: 800px) {
    .search-bar {
        font-size: 25px !important;

        height: 55px !important;
        width: 50% !important;
        padding: 0px 30px 0px 30px !important;
    }
}













/* Tablet styling */

@media only screen and (max-width: 800px) {
	.search-bar {
        font-size: 18px !important;

        height: 45px !important;
        width: 70% !important;
        padding: 0px 20px 0px 20px !important;

    }
}













/* Phone styling */

@media only screen and (max-width: 400px) {
	.search-bar {
        font-size: 12px !important;

        height: 30px !important;
        width: 80% !important;
        padding: 0px 20px 0px 20px !important;

    }
}