@import "../../css/material.css";
@import "../../css/container.css";
@import "./widget.css";







 
/*palette*/

:root {
    --black: #000000;
    --white: #ffffff;
    --menu: #2c2b2d;
    --blue: #51a4f5;
    --blue-grey: #aabbcc;
    --blue-black: #6e7a8e;
    --red: #f3537c;
    --yellow: #ffba2b;
    --green: #7dbd42;
    --purple: #9e6ee8;
    --purple-grey: #aaa6d0;
    --purple-grey-dark: #363545;
    --purple-black: #262535;
}

html,
body {
    background-color: #f5f5f5;
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: 'PingFang SC', 'Lantinghei SC', 'Microsoft Yahei', 'Hiragino Sans GB', 'Microsoft Sans Serif', 'WenQuanYi Micro Hei', Roboto;
}

body {
    display: flex;
    flex-direction: row;
}

hr {
    color: var(--purple-grey);
    border-style: solid;
    border-width: 0.5px;
}

#menu {
    min-width: 250px;
    width: 20%;
    height: 100%;
    display: block;
/*    flex-direction: column;
    align-items: center;
    align-content: center;
    align-content: space-between;*/
    color: var(--purple-grey);
    overflow: scroll;
    border-right: 2px #fafafa solid;
    background-color: var(--purple-grey-dark);
}

#menu-header {
    background-color: var(--purple-black);
    width: 100%;
    height: 150px;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: space-around;
    flex-direction: column;
    padding-bottom: 10px;
    padding-top: 10px;
}

#menu-header img {
    width: 90px;
    height: 90px;
}

#menu-list {
    font-weight: lighter;
    /*border: 1px #ffffff solid;*/
    width: 100%;
    margin-top: 30px;
    display: flex;
    align-items: center;
    align-content: center;
    flex-direction: column;
    justify-content: space-around;
}

.menu-list-item {

    /*No Select*/
    -webkit-touch-callout: none;
    /* iOS Safari */
    -webkit-user-select: none;
    /* Safari */
    -khtml-user-select: none;
    /* Konqueror HTML */
    -moz-user-select: none;
    /* Firefox */
    -ms-user-select: none;
    /* Internet Explorer/Edge */
    user-select: none;
    /* Non-prefixed version, currently supported by Chrome and Opera */
    cursor: pointer;
    width: 100%;
    padding: 14px 0px 14px 100px;
    transition: color 0.3s;
    transition: border-left 0.5s;
}

.menu-list-item:hover {
    border-left: 5px #ffffff00 solid;
    color: #ffffff;
    background-color: #565565;
}

#work-space {
    font-weight: lighter;
    width: 100%;
    padding: 30px 40px 30px 40px;
    overflow: scroll;
    -webkit-overflow-scrolling: touch;
        display: block;


/*    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-content: flex-start;*/
}

.title-1{
    font-size: 20px;
}

.content{
    border-radius: 10px;
    background-color: white;
    margin: 20px;
    padding: 20px;
}

#drawer {
        min-width: 250px;
    width: 20%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    align-content: space-between;
    color: var(--purple-grey);
    overflow: scroll;
    background-color: var(--green);
    border-left: 2px #6dad32 solid;
}

.drawer-content {
    margin: 10px;
}

















