
/*palette*/
:root {
  --black: #000000;
  --white: #ffffff;
  --blue-grey: #aaaacc;
  --blue-black: #6e7a8e;
}

input[type=text] {
    color: white;
    /*font-family: Roboto;*/
    font-family: inherit;

    font-size: 15px;
    outline: none;
    height: 30px;
    background-color: #ffffff33;
    border-width: 0px;
    border-radius: 40px;
    padding: 2px 15px 2px 15px;
}

input[type=text]::placeholder {
    color: #ffffffcc;
}

.search-bar {
    background-color: rgba(255, 255, 255, 0.4);
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(10px);
}


.avatar {
	border-radius: 50%;
}

