<!DOCTYPE html>
<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link rel="stylesheet" type="text/css" href="./css/main.css">
    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
</head>

<body>
    <nav class="nav">
        <ul class="logo ripple">
            <a href="index.html">
                <img src="./img/logo.svg" height="50px">
            </a>
        </ul>
        <ul class="menu">
            <li class="ripple"><a href="#">关于我们</a></li>
            <li class="ripple"><a href="#">登陆/注册</a></li>
        </ul>
        <ul class="menu-btn material-icon">menu</ul>
    </nav>
    <div class="column-container bkg-milky-way">
        <!--search boxes-->
        <div>
            <form>
                <h1>Matrixel留学数据矩阵</h1>
                <br>
                <br>
                <div>
                    <input type="text" id="school" ng-model="globalSearch.School" placeholder="学校" />
                    <input type="text" id="major" ng-model="globalSearch.Major" placeholder="专业" />
                </div>
                <br>
                <div>
                    <div>
                        SAT范围：
                        <input type="number" min="0" placeholder="最低分" name="filterSatMin" ng-model="filterModelMin.SAT" /> 到
                        <input type="number" placeholder="最高分" name="filterSatMax" ng-model="filterModelMax.SAT" />
                    </div>
                    <br>
                    <div>
                        ACT范围：
                        <input type="number" min="0" placeholder="最低分" name="filterActMin" ng-model="filterModelMin.ACT" /> 到
                        <input type="number" placeholder="最高分" name="filterActMax" ng-model="filterModelMax.ACT" />
                    </div>
                    <br>
                    <div>
                        托福范围：
                        <input type="number" min="0" placeholder="最低分" name="filterTofMin" ng-model="filterModelMin.TOEFL" /> 到
                        <input type="number" placeholder="最高分" name="filterTofMax" ng-model="filterModelMax.TOEFL" />
                    </div>
                    <br>
                </div>
                <br>
                <div>
                    <div>
                        <button class="button" ng-click="clearSearch()">清空</button>
                        <button class="button-highlight" ng-click="showResult()">搜索</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <!--case list-->
    <ul id="filterList" style="display:none">
        <li ng-repeat="item in list | filter: globalSearch | filter:byRange('SAT', filterModelMin.SAT, filterModelMax.SAT) | filter:byRange('ACT', filterModelMin.ACT, filterModelMax.ACT) | filter: byRange('TOEFL', filterModelMin.TOEFL, filterModelMax.TOEFL)">
            <div>
                <div>
                    <div class="grid_10 lucky" style="font: 22px arial">{{item.Year}}<strong style="font-weight: bold; color: #2453B8">{{item.Major}}</strong>录取学生 &nbsp;&nbsp;
                        <strong style="color: #AEC8F1">{{item.Round}}</strong>
                        <div style="font-weight: bold">
                            {{item.School}}
                        </div>
                    </div>
                    <div class="grid_9" style="font: 20px arial; color: #24B85A">标化考试成绩:
                        <br /> </div>
                    <div style="font: 22px arial">
                        <strong style="font-weight: bold">SAT: {{item.SAT}} &nbsp;&nbsp;
                ACT: {{item.ACT}} &nbsp;&nbsp; TOEFL: {{item.TOEFL}} &nbsp;&nbsp; {{item.SAT2}} &nbsp;&nbsp; {{item.APALEVELIB}}<br/></strong>
                        <strong style="font-weight: bold">活动：<strong>{{item.Activities}}</strong>
                    </div>
                </div>
            </div>
        </li>
    </ul>
    <div>
        <div><img src="../images/business.jpg"></div>
    </div>
    <div>
        <div>
            <p>乐析留学数据矩阵是乐道教育旗下的线上数据查阅分析平台，创建了行业内第一个着眼于中国留学生的大数据矩阵。乐析矩阵整合了留学生从准备留学到留学结束全过程的丰富数据，并根据学校排名等客观数据进行优化、根据查阅者数据进行个性定制，以求得出最客观、最合适的结论。 乐析正逐步开放线上免费可查的留学数据，公布的部分留学数据资料，希望能在保护个人隐私的基础上最大限度地让使用者获益。给留学路上的学生、家长、教师提供指路的方向。 同时，乐析拥有超过五百万字的巨量文书数据，将以线下免费分享的形式提供给有需要者参考，以保护学生的原创资料、杜绝中介机构等使用者的抄袭行为。
            </p>
        </div>
    </div>
    <!--Import jQuery before materialize.js-->
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <!--Import angularJS-->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.5/angular.min.js"></script>
    <!--Import materializec,js-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.1/js/materialize.min.js"></script>
    <!--import main.js-->
    <script type="text/javascript" src="../js/main.js"></script>
    <!--Modules-->
    <script src="case.js"></script>
    <!--Controller-->
    <script src="CaseController.js"></script>
</body>

</html>