/* Default accross all views */

@import "./container.css";
@import "./material.css";
@import "./nav.css";
@import "./parallax.css";
@import "./palette.css";
@import "./table.css";


@font-face {
    font-family: oswaldl;
    src: url('/fonts/Oswald-ExtraLight.ttf');
}


body {
    background: #fcf8f7;

    /*THIS IS NOT GONNA WORK, BECAUSE THIS IS THE OUTERMOST ELEMENT!!!*/
    /*box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); */
    margin: 0px;
    font-family: sans-serif;
}

a {
    text-decoration: none;
}





.center-items {
    display: flex;
    align-items: center;
}

.column {
    display: flex;
    flex-direction: column;
}

.row {
    display: flex;
    flex-direction: row;
}

.center-text {
    text-align: center;
}

.restaurantspage {
    flex-direction: column;
    margin: 0 auto;
    background: white;
}



.white-background {
    background: white;
}

.title-1 {
    text-align: center;
    font-size: 36px;
    font-family: serif;
}

.title-2 {
    text-align: center;
    font-size: 24px;
    font-family: sans-serif;
    text-decoration: none;
}

p {
    text-align: center;
    align-content: center;
    max-width: 60%;
    margin: auto;
}



.restaurantimage {
    display: flex;
    justify-content: center;
    width: 65%;
    margin: auto;
}



figcaption {
    font-family: "Elephant";
    text-align: center;
    font-size: 11px;
    text-decoration-color: lightgrey;
    font-weight: lighter;
}

.home-content {
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    align-items: center;
    background: white;
}

.home-picture {
    margin: 20px;
}

/*table.cred,
th.cred,
td.cred {
    border: 1px solid black;
    text-align: center;
}

table.cred {
    border-collapse: collapse;
}

.cred {
    align-items: center;
    margin: 0 auto;
}
*/

main-content {
    width: 70%;
    background-color: white;
    color: red;
    /*margin: 40px, 60px, 40px, 60px;*/
}

.txt-center {
    text-align: center;
}

.hide {
    display: none;
}

.clear {
    float: none;
    clear: both;
}

.rating {
    width: 90px;
    unicode-bidi: bidi-override;
    direction: rtl;
    text-align: center;
    position: relative;
}

.rating>label {
    float: right;
    display: inline;
    padding: 0;
    margin: 0;
    position: relative;
    width: 1.1em;
    cursor: pointer;
    color: #000;
    font-size: 16px;
}

.rating>label:hover,
.rating>label:hover~label,
.rating>input.radio-btn:checked~label {
    color: transparent;
}

.rating>label:hover:before,
.rating>label:hover~label:before,
.rating>input.radio-btn:checked~label:before,
.rating>input.radio-btn:checked~label:before {
    content: "\2605";
    position: absolute;
    left: 0;
    color: #FFD700;
}

.review {
    margin: 10px 10% 50px 10%;
    height: 100%;
    width: 80%;
    text-align: center;
    border: 3px solid black;
    background: rgba(255, 255, 255, 0.2);
    font-family: oswaldl;
}

.stars {
    float: left;
    margin-left: 1em;
}

.reviewSum {
    float: left;
    font-style: normal;
}

.reviewAuthor {
    float: right;
    position: relative;
    margin: -20px 5px;
}

.reviewContent {
    position: relative;
    width: 100%;
    height: 100%;
    margin-top: 4em;
    margin-bottom: 2em;
    margin-left: 1em;
    color: black;
}

.hidden {
    display: none;
}


form {
    font-family: Roboto;
    font-size: 20px;
    width: 100%;
}
 
fieldset {
    width: 100%;
    border: 0px;
    padding: 15px;
        box-shadow: 0 0 10px 1px #ddd;
        background-color: #ffffff;

}

fieldset legend {
    color: #e1262a;
    padding: 5px 10px ;
    background-color: #fcf8f7;
    font-size: 32px;
    border: none;
    margin-left: 20px;
    box-shadow: 0 0 5px 1px #ddd;
}

option{
    margin: 20px;
}


input[type=text] {
    font-family: Roboto;
    font-size: 80%;
    border: 0px;
        outline: none;
        height: 20px;
        background-color: transparent;
        border-bottom: 2px solid #e1262a;

}









.parallax-transportations {
    background-image: url("../img/transportation_theme.jpg");
}


.parallax-drive-map {
    background-image: url("../img/transportation_drive_map.jpg");
}

.parallax-path {
    background-image: url("../img/transportation_path.jpg");
}

.parallax-bus {
    background-image: url("../img/transportation_bus.jpg");
}

.parallax-ferry {
    background-image: url("../img/transportation_ferry.jpg");
}

.parallax-attraction {
    background-image: url("../img/attraction_theme.jpg");
}

.parallax-home {
    background-image: url("../img/home_theme.jpg");
    height: 400px;
    padding-top: 200px;
    padding-bottom: 200px;
}

.parallax-home p::first-letter {
    font-size: 200%;
    color: #ff0000;
}

.parallax-home button {
    height: 100px;
    width: 100px;
    font-size: 70px;
    margin-bottom: 30px;
    color: #ffffff;
    text-align: center;
    outline: none;

    background-color: transparent;
    border-width: 0px;
    border-radius: 100%;
    border-color: red;
    transition: all 0.5s;
}

.parallax-home button:hover {
    border-width: 100%;
    font-size: 70px;
    color: #ffffff;
    background-color: #ff0000;
    border-color: transparent;
}

.parallax-restaurant {
    background-image: url("../img/restaurant_theme.jpg");
}

.parallax-credit {
    background-image: url("../img/credit_theme.jpg");
}

.parallax-restaurant-go {
    background-image: url("../img/restaurant_go.jpg");
}









/* Desktop styling */

@media only screen and (min-width: 800px) {

    main-content {
        margin: 40px, 60px, 40px, 60px;
    }

    figure img {
        display: flex;
        justify-content: center;
        width: 65%;
        margin: auto;
    }


fieldset  {
        font-size: 32px;

}
}











/* Tablet styling */

@media only screen and (max-width: 800px) {

    main-content {
        margin: 20px, 0px, 20px, 0px;
    }
        .parallax-home p {
        font-size: 18px;
        font-weight: lighter;
    }

    .parallax-home {
        height: 500px;
        padding-top: 100px;
        padding-bottom: 100px;
    }
    fieldset  {
        font-size: 16px;

}
}











/* Phone styling */

@media only screen and (max-width: 400px) {
    .parallax-home p {
        font-size: 15px;
        font-weight: lighter;
    }
    .parallax-home {
        padding-top: 100px;
        padding-bottom: 200px;
    }
    fieldset  {
        font-size: 14px;

}
}